.container{

    background-color: rgb(104, 180, 250);
    color: black;
    border: solid 4px black;
    }
    
    .jumbotron{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Ciudad_de_Merida%2C_Venezuela.jpg/1000px-Ciudad_de_Merida%2C_Venezuela.jpg");
        
    }
    
    label{
        align-content: center;
        color: royalblue;
    
    }
    .card-header{
        text-align: center;
    }
    .row,
    .card-header{
        color: royalblue;
        
    }
    
    #show,
    #photo,
    .container{
        text-align: center;
        align-items: center;
        align-content: center;
        color: black

        
    }